<h1>Добро пожаловать в наше приложение</h1>

<p><%= link_to "Категории", categories_path %></p>
<p><%= link_to "Доктора", doctors_path %></p>
<p><%= link_to "Пользователи", users_path %></p>
<p><%= link_to "Записи", appointments_path %></p>
<p><%= link_to "Войти как доктор", new_doctor_session_path %></p>
<p><%= link_to "Войти", new_user_session_path %></p>

