
<tr>
  <td><%= link_to "#{doctor.name}", doctor_path(doctor), class: "btn btn-light" %></td>
  <td>
    <% if current_user.present? %>
      <%= form_with(model: Appointment.new, local: true) do |form| %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.hidden_field :doctor_id, value: doctor.id %>
        <%= form.submit "Записаться", class: "btn btn-success"%>
      <% end %>
    <% end %>
  </td>
</tr>