<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @doctor.email %>
</p>
<p>
<h1>Категория доктора</h1>
<%= @doctor.category.name if @doctor.category.present? %>
</p>
<p>
<h1>Открытые записи</h1>
<% @doctor.appointments.each do |appointment| %>
  <%= link_to "#{appointment.user.name}", appointment_path(appointment) %><br>
<% end %>

<% if current_user.present? %>
  <%= form_with(model: Appointment.new, local: true) do |form| %>
  <%= form.hidden_field :user_id, :value=> current_user.id %>
    <%= form.hidden_field :doctor_id, :value=> @doctor.id %>
    <%= form.submit "Записаться на прием"%>
  <% end %>
<% end %>

</p>