<div class="container">
  <div class="row">
    <%= form_with(model: @appointment, local: true) do |form| %>

      <%= render 'common/errors', resource: @appointment %>

      <p><div class="form-group">
        <%= form.label :user %>
        <%= form.collection_select :user_id, User.all, :id, :name, {}, {class: "form-control"} %>
      </div></p>

      <p><div class="form-group">
        <%= form.label :doctor %>
        <%= form.collection_select :doctor_id, Doctor.all, :id, :name, {}, {class: "form-control"} %>
      </div></p>

      <p>
        <% unless @appointment.new_record? %>
          <div class="field">
            <%= form.label :recommendation, "Описание" %>
            <%= form.text_area :recommendation,
                      rows: 13,
                      cols: 50 ,
                      maxlength: 240,
                      autocomplete: :off, class:"form-control" %>
          </div>
        <% else %>
          <% @appointment.status = true %>
          <%= form.hidden_field :status %>
        <% end %>
      </p>

      <div class="actions">
        <%= form.submit "#{ @appointment.new_record? ? 'Создать' : 'Изменить' }", class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>
